<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2210/2210034.png">
<HTML>

    <HEAD>
    
    <TITLE> Merlin - Blockbusters </TITLE>
    
    </HEAD>
    
    <BODY BGCOLOR="FFFFFF">
    
    
    <HR>
    
    <H1> Blockbusters Generator</H1>
    
    First enter the number of pages of Blockbusters you would like to generate into the textbox.
    
    <style> 
      textarea {
      width: 10%;
      height: 10%;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: none;
      }
    </style>
    
    
    <p>Next simpily press on the download button to get your unique Blockbusters!
    
    <form method="POST"> 
      <textarea name="textbox"></textarea>
      <p><button type="submit" name="download"> Download </button>
    
    </form>
    
    <div>
		<hr>
		A Flask website by David Saunders.
        <br>
        Contact: <a href="DJSaunders1997@gmail.com">DJSaunders1997@gmail.com</a>
		<br>
		<a href="https://github.com/DJSaunders1997/blockbuster">Github</a>
		<br>
	</div>
    
    </BODY>
    
    </HTML>
    